html
body
    font-size: 65.5%
    font-family: $ffFjalla
    line-height: 1.2

.page
    background: $dark url('../images/bg-page.jpg') top center repeat-y 
    background-size: 100% auto
    &._home
        padding-top 188px   

.container
    width: 100%
    max-width: 1200px
    padding: 0 15px
    margin: 0 auto   

.block    
    margin-bottom 30px
    padding 20px
    background-color $light
    border-radius: $br
    box-shadow: 0 1px 18px rgba($dark, .2)

.title
    font-size: 1.7rem
    color #747474
    text-transform uppercase  

.link
    font-family $ffOxygen
    font-size: 1.3rem
    color: #979797
    letter-spacing .04em  
    transition: color .25s ease-out
    &:hover 
        color: $primary