html
body
    font-size: 65.5%
    font-family: $ffFjalla
    line-height: 1.2

.page
    background: $dark url('../images/bg-page.jpg') top center repeat-y 
    background-size: 100% auto
    &._home
        padding-top 188px   

.container
    width: 100%
    max-width: 1200px
    padding: 0 15px
    margin: 0 auto   