// COLORS
$light = #ffffff
$gray = #f0f0f0
$primary = #b297c4
$dark = #2a2a2a
$dark-light = #383838

// FONT FAMILIES
$ffFjalla = "Fjalla One", Arial, Helvetica, sans-serif
$ffOxygen = Oxygen, Arial, Helvetica, sans-serif
$ffOpenSans = "Open Sans", Arial, Helvetica, sans-serif

// BORDERS
$br = 5px