.article
    align-self: start
    padding-bottom 1px
    position relative
    overflow hidden
    padding-bottom 50px
    &__title
        margin-bottom 1em
    &__image
        width 100%
        height auto
        border-radius: $br
        &._sm
            width calc(50% - 10px)
            margin-bottom 20px
        &-outer
            margin-bottom 26px
            &._sm
                display: flex
                align-items: flex-start
                justify-content space-between
                flex-wrap: wrap
                margin-bottom 0
    &__text
        margin-bottom 2em
        font-family $ffOxygen
        font-size: 1.3rem
        color: #979797
        letter-spacing .04em          
        line-height 1.5
    &__button
        position absolute
        bottom 0
        left 0
        right 0
        height 50px
        padding 18px 20px
        background-color $primary
        color: $light
        font-size: 1.3rem
        text-transform uppercase
        letter-spacing .02em          
        line-height 1
        &:hover
            .article__icon
                transform translateX(30%)
    &__icon
        display inline-block
        margin 0 8px
        transform translateX(0)
        transition: transform .3s ease-out


@media $max-sm
    .article
        &__image
            position absolute
            left 0
            right 0
            top 50%
            transform translateY(-50%)
            &-outer
                position relative
                height 120px
                margin-bottom 18px
                border-radius: $br
                overflow hidden
        &__button
            height 42px
            padding 14px 20px
            font-size: 1.2rem
