.breadcrumbs
    display flex
    &__item
        color $primary
        font-family $ffOpenSans
        font-size: 1.3rem
        font-weight 700
        letter-spacing .02em
        &:not(:last-child)
            &::after
                content: '::'
                padding 0 6px