.logo
    display: inline-block
    margin -.25em 0
    padding .4em .5em
    background-color: $primary
    border-radius: $br
    color: $light
    font-size: 4.4rem
    line-height 1
    text-transform: uppercase
    letter-spacing -0.02em

@media $max-md  
    .logo
        font-size: 3rem

@media $max-xs  
    .logo
        font-size: 2.6rem