.logo
    display: inline-block
    margin -11px 0
    padding 18px 22px
    background-color: $primary
    border-radius: $br
    color: $light
    font-size: 4.4rem
    line-height 1
    text-transform: uppercase
    letter-spacing -0.02em