.main-content
    background-color $gray
    &__features
        margin-bottom 57px
    &__row
        padding-bottom 30px
        display: flex
        align-items: flex-start
    &__sidebar
        width: 25%
        max-width: 25%
        flex-basis: 25%
    &__articles
        width: 75%
        max-width: 75%
        flex-basis: 75%