.main-content
    background-color $gray
    &__features
        margin-bottom 57px
    &__row
        padding-bottom 30px
        display: flex
        align-items: flex-start
    &__sidebar
        width: 25%
        max-width: 25%
        flex-basis: 25%
    &__articles
        display grid
        grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
        grid-gap: 1px $defaultMargin
        grid-auto-rows: 1px
        width: 75%
        max-width: 75%
        flex-basis: 75%
        padding-right $defaultMargin